.navbar {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
  color: white;
  padding: 2% 12% 0% 12%;
  height: 60px;
  text-align: left;
  background-color: white;
  z-index: 5;
}

.navbar-toggler {
  left: 20px;
}

.navbar-nav {
  background-color: white;
  color: white;
  text-indent: 20px;
  text-align: left;
  font-size: 16px;
  border: none;
  position: relative;
  display: inline-block;
  max-width: 250px;
}

.navbar-nav a:hover {
  background-color: #00cc99;
  color: white;
  z-index: 5;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Montserrat,' sans-serif;
  font-weight: italic;
  color: white;
}

.navbar-toggler {
  margin-left: 20px;
}

.navbar-collapse {
  margin-left: 20px;
}


.hero {
  background: image_url('hero-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 3px 8px ;
  margin-right: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  padding-top: 40px;
  color: white;
}

.frosty h1 {
  font-family: 'Montserrat,' sans-serif;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Montserrat,' sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn-learn-more {
  background-color: #00cc99;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-learn-more:hover {
  text-decoration: none;
  color: white;
  background-color: #009973;
}

.hero-banner {
  margin: 0px 0px 0px 0px;
  background-image: linear-gradient(to bottom right, #01ffc0, #005b44)
}

.feature-1 {
  width: 32%;
  padding-top: 1.5%;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
}

.feature-2 {
  width: 32%;
  padding-top: 1.5%;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
}

.feature-3 {
  width: 32%;
  padding-top: 1.5%;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
}

body {
  background: image_url('topography.png');
  margin: 0px 0px 0px 0px;
}

.booyah-box {
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
background: #fff;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.sign-up-header {
  font-family: 'Montserrat,' sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px 0px 0px;
}


.btn-sign-up {
  background-color: #00cc99;
  text-decoration: none;
  text-align: center;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  border: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 28px; 
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 14px 0px 14px 0px;
  text-align: center;
  font-family: 'Montserrat,' sans-serif;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.row {
  margin: 0px 0px 0px 0px;
}

.push {
  height: 50px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}